{% extends "base.html" %}
{% load static %}

{% block main %}
<div class="container-fluid">
    <div class="row"style="background-image: url('{% static "img/images (12).jpg" %}'); background-repeat:no-repeat; background-size:cover;">
        <div class="col-sm-10 mx-auto">
            <div style="text-align: center;"><h1>Our Book Store</h1></div>
            <p class="text-center">We are a passionate team dedicated to providing the best online book shopping experience. Our mission is to connect readers with the books they love.</p>
            <div class="row">
                <div class="col-sm-6">

                </div>
                <div class="col-sm-6 my-5">
<h3 style="color:rgb(63, 62, 62)"><b>Our Story</b></h3>
<hr>
<br>
<p style="color:rgb(235, 234, 233)">Founded in 2010, our online bookstore began as a small passion project between friends who shared a love for literature. What started as a modest collection of curated titles has grown into one of the most beloved destinations for book lovers worldwide.</p>
<br>
<h3 style="color:rgb(63, 62, 62)"><b>Our Mission</b></h3>
<hr>
<br>
<p style="color:rgb(250, 245, 245);">We believe in the transformative power of books. Our mission is to connect readers with stories that inspire, educate, and entertain, while supporting authors and publishers who create these wonderful works.</p>
<br>
<h3 style="color:rgb(63, 62, 62)"><b>Why Choose Us?</b></h3>
<hr>
<br>    
<p style="color:rgb(248, 242, 242);"><i class="fa-solid fa-circle-check" style="color:green"></i>Carefully curated selection of over 100,000 titles</p>
<p style="color:rgb(234, 228, 228);"><i class="fa-solid fa-circle-check" style="color:green"></i>Competitive prices and regular promotions</p>
<p style="color:rgb(230, 238, 239);"><i class="fa-solid fa-circle-check" style="color:green"></i>Fast and reliable worldwide shipping</p>
<p style="color:rgb(255, 249, 249);"><i class="fa-solid fa-circle-check" style="color:green"></i>Expert recommendations from our book-loving staff</p>
<p style="color:rgb(255, 251, 251);"><i class="fa-solid fa-circle-check" style="color:green"></i>Eco-friendly packaging options</p>
<br>
<br>
<button type="submit" class="btn btn-success">Get in touch</button><br>

                </div>
            </div>
            
        </div>
    </div>
<div class="row">
    <div class="col-sm-12 mx-auto">
        <h1 style="text-align: center;"> Meet Our Team</h1>
        <div class="row">
            <div class="col-sm-10 mx-auto">
                <div class="row">
                    <div class="col-sm-5">
<div style="height:250px; width:550px; border:1px solid black;">
    <div style="height:150px; width:150px;  border-radius:75px; margin-top: 15px; margin-left: 180px;">
        <img src="{% static 'img/RS.jpeg' %}" alt="" style="height:150px; width:150px; border-radius:75px;">
    </div>
    <h3 style="text-align: center; margin-top: 10px;">shubham verma</h3>
    <h5 style="color:green; text-align: center; font-size: small;">founder and CEO</h5>
</div>
                    
                    </div>

                    <div class="col-sm-5">
                        <div style="height:250px; width:550px; border:1px solid black; margin-left: 50px;">
    <div style="height:150px; width:150px;  border-radius:75px; margin-top: 15px; margin-left: 180px;">
        <img src="{% static 'img/SV.jpeg' %}" alt="" style="height:150px; width:150px; border-radius:75px;">
    </div>
    <h3 style="text-align: center; margin-top: 10px;">shubham verma</h3>
    <h5 style="color:green; text-align: center; font-size: small;">founder and CEO</h5>
</div>
<br><br><br>
                    </div>
                    
                    </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>

{% endblock main %}


