{% extends "base.html" %}
{% load static %}


{% block main %}
<div class="container-fluid">
    <div class="row"style="background-image: url('{% static "img/download (11).jpg" %}'); background-repeat:no-repeat; background-size:cover;">
        <div class="col-sm-10 mx-auto" style="padding: 20px; border-radius: 10px;">
            <div style="text-align: center;">
                <h1>Create Account</h1>
            </div>
            <p class="text-center">Create an account to enjoy exclusive benefits and stay updated with the latest
                offers.</p>
            <div class="row">
                
                <div class="col-sm-6">
                <form method="post">
                    {% csrf_token %}

                
                    <h3>Register now</h3>
                    <div class="mb-3">
                        <input type="name" class="form-control" id="name" name="name" placeholder="Full name">
                    </div>
                    <div class="mb-3">
                        <input type="email" class="form-control " class="my-5" id="email" name="email"
                            placeholder="email">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control " class="my-5" id="Phone" name="contactno"
                            placeholder="Phone number">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control " class="my-5" id="passward" name="password"
                            placeholder="Passward">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control " class="my-5" id="confirm passward"
                            name="cpassword" placeholder="confirm passward">
                    </div>
                    <div style="height:80px; width:300px; border:1px solid black; margin-top:20px;">
                        <input type="checkbox" name="terms" id="terms"> I'm not robot
                    </div>
                    <br>
                    <input type="checkbox" name="terms" id="terms">I agree to the<a href="#">terms and conditions </a>

                    <br><br>
                    <button type="submit" class="btn btn-success">Submit</button><br>
                    <h6>Already Have You An Account?<a href="#" style="color:purple; font-size: small;">Login Now</a>
                    </h6>
                </form>
                </div>
                <div class="col-sm-5 p-2 mx-5 " style="color:rgb(0, 0, 0);" >
                    <h3>Why Register?</h3>
                    <br>
                    <h4><i class="fa-solid fa-tag " style="color:green"></i>exclusive discount</h4>
                    <p style="color:grey; font-size: small;" class="mx-4">Get members-only deals and promotions</p>
                    <br>
                    <h4> <i class="fa-solid fa-truck-fast" style="color:green"></i>Faster Checkout</h4>
                    <p style="color:grey; font-size: small;" class="mx-4">Save your details for quick purchases</p>
                    <br>
                    <h4> <i class="fa-solid fa-heart" style="color:green"></i>whishlist</h4>
                    <p style="color:grey; font-size: small;" class="mx-4">Save books you love for later</p>
                    <br>
                    <h4> <i class="fa-solid fa-timer" style="color:green"></i>Order History</h4>
                    <p style="color:grey; font-size: small;" class="mx-4">Track all your past purchases</p>

                </div>

            </div>
        </div>
    </div>
</div>
</div>






{% endblock main %}