{% extends 'adminbase.html' %}

{% block admin %}

<div class="row">
    <div class="col-sm-12">
        <h4 style="color:aquamarine">Change Password</h4>
        <div class="card p-4 bg-success">
            <form method="post">
                {% csrf_token %}
                <label for="oldpwd" class="form-label">old passward</label>
                <input type="passward" name="oldpwd" class="form-control" required>
                <label for="newpwd" class="form-label">new passward</label>
                <input type="passward" name="newpwd" class="form-control" required>
                <label for="confirmpwd" class="form-label">confirm passward</label>
                <input type="passward" name="confirmpwd" class="form-control" required>
                <button class="btn btn-primary w-25 " type="submit">submit</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}